/****GENERAL****/
body{
      background-color: #eee;
}
.wrapper{
      margin: 0px auto 10px auto;
      padding: 20px;
}
.Content{
      text-align: center;
      margin: 10px 120px;
}
h1{
     font-family: 'Montserrat', sans-serif;
     font-weight: 100;
     text-align: center;
     text-transform: uppercase;

}
h2{
     font-family: 'Montserrat', sans-serif;
     font-weight: 100;
     text-align: center;
}
img{
    border-radius: 100%;
    margin: 10 auto 10 auto;
    opacity: 20%;
}
p{
    font-family: 'Open sans', sans-serif;
    margin: 10px auto 20px auto;
    padding: 20px 35px;
    background-color: white;
    border-radius: 8px;
}

/***NAVIGATION***/
nav ul{
    font-family: 'Open sans', sans-serif;
    list-style: none;
    text-align: center;
    margin: -12px auto 5px auto;
    padding: 10px 25px;
    border-top: 2px solid #000;
    border-bottom: .5px solid #000;
    background-color: #f2f2f2;


}
nav li{
    display: inline;
    padding: 10px 35px
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 100;
    padding: 6px 18px 6px 18px;

}
a:hover, a.on{
    color:powderblue;
}

a.active{
    color: powderblue;
}

/***HEADERS***/
#page-header{
    margin-top: -50px;
    margin-bottom: 10px;
    padding: 10px 15px;
    height: 100%;
    background-color: skyblue;
    color: #fff;

}
#blog-header{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#contact-header{
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
/***FOOTER***/
footer{
    font-family:sans-serif;
    font-size: .5em;
    text-align: center;
    margin-bottom: -50px;
    clear: both;
}
footer a{
    text-decoration: none;
    font-size: 10px;
    color: #000;
    font-weight:100;
    padding-left: 15px;
}
footer span{
    margin-left: 8px;
}
/***ARTICLES***/
#about-me-article p{
    max-width: 940px;

}
#blog article{
    max-width: 940px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    color: transparent;
    border-radius: 8px;
  }

#blog-article1{
    float: left;
    width:30%;
    margin-left: auto;
    border-bottom: none;
}
#blog-article1 p{
    background-image: url(/Users/Tish/Desktop/Personal-website/images/article-one-bg.jpeg);
    background-size: 440px 300px;
    background-repeat: no-repeat;

}
#blog-article2{
    float: left;
    width:30%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: none;
}
#blog-article2 p{
    background-image: url(/Users/Tish/Desktop/Personal-website/images/article-two-bg.jpg);
    background-size: 440px 300px;
    background-repeat: no-repeat;
}
#blog-article3{
    float: right;
    width:30%;
    margin-right: auto;
    border-bottom: none;

}
#blog-article3 p{
    background-image: url(/Users/Tish/Desktop/Personal-website/images/article-three-bg.jpg);
    background-size: 440px 300px;
    background-repeat: no-repeat;
}
#blog article p:hover{
    transition: .2s;
    opacity: 0.5;
    color: black;

  }

article{
    border-bottom: 2px solid powderblue;
}
article h2{
    background-color: skyblue;
    margin: 10px auto;
    padding: 15px;
    color: white;

}

/***CONTACT***/
div #contact-info{
    clear: both;
    margin: 20px auto;
}
form{
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
}
input, textarea{
    border: 0;
    outline:0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width:100%;
    margin: 1em;
    font-family: 'Open Sans',sans-serif;
    box-shadow:(0 1px 1px rgba(0,0,0,0.1));
    resize: none;
}
input:focus{
    box-shadow: 0px 0px 2px skyblue;
}
#input-submit{
    color: white;
    background-color: powderblue;
    cursor: pointer;
}
#input-submit:hover{
    box-shadow: 0 2px 1px 1px #888;
}
#input-submit:active{
    box-shadow:  0 0px 0px 0px #888;
    transform: translateY(4px);
}
textarea{
    height: 126px;
}
.left-cf{
    width: 48%;
    float: left;
    margin: 5px;
}
.right-cf{
    float: right;
    width: 42%;
    margin-top: 5px;
}
