/****GENERAL****/
body{
    background-color: #eee;
}
.wrapper{
    margin: 0px auto 10px auto;
    padding: 20px;
}
.Content{
      text-align: center;
      margin: 10px 120px;
}
h1{
     font-family: 'Montserrat', sans-serif;
     font-weight: 100;
     text-align: center;
     text-transform: uppercase;

}
h2{
     font-family: 'Montserrat', sans-serif;
     font-weight: 100;
     text-align: center;
}
p{
      font-family: 'Open sans', sans-serif;
      margin: 10px auto 20px auto;
      padding: 20px 35px;
      background-color: white;
      border-radius: 8px;
}
/***NAVIGATION***/
nav ul{
    font-family: 'Open sans', sans-serif;
    list-style: none;
    text-align: center;
    margin: -12px auto 5px auto;
    padding: 10px 25px;
    border-top: 2px solid #000;
    border-bottom: .5px solid #000;
    background-color: #f2f2f2;


}
nav li{
    display: inline;
    padding: 10px 35px
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 100;
    padding: 6px 18px 6px 18px;

}
a:hover, a.on{
    color:powderblue;
}

a.active{
    color: powderblue;
}

/***HEADERS***/
#page-header{
    margin-top: -50px;
    margin-bottom: 10px;
    padding: 10px 15px;
    height: 100%;
    background-color: skyblue;
    color: #fff;

}
#blog-header{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#contact-header{
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/***FOOTER***/
footer{
    font-family:sans-serif;
    font-size: .5em;
    text-align: center;
    margin-bottom: -50px;
    clear: both;
}
footer a{
    text-decoration: none;
    font-size: 10px;
    color: #000;
    font-weight:100;
    padding-left: 15px;
}
/***ARTICLES***/
#about-me-article p{
  max-width: 940px;

}
#blog article{
  width: 450px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  }
#blog-article1{
  float: left;
  margin-left: auto;
  margin-right: 50px;
}
#blog-article2{
  float: left;
  margin-left: 75px;
  margin-right: 75px;
}
#blog-article3{
  float: right;
  margin-left: 50px;
  margin-right: auto;

}
#blog article p:hover{
    transform-origin: bottom;
    transition: .5s;
    opacity: 0.5;
  }

article{
    border-bottom: 2px solid powderblue;
}
article h2{
    background-color: skyblue;
    margin: 10px auto;
    padding: 15px;
    color: white;

}

img{
    border-radius: 100%;
    margin: 10px auto 10px auto;


}
/***CONTACT***/
div #contact-info{
  clear: both;
}
form{
  max-width: 800px;
  text-align: center;
  margin: 20px auto;
}
input, textarea{
  border: 0;
  outline:0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width:100%;
  margin: 1em;
  font-family: 'Open Sans',sans-serif;
  box-shadow:(0 1px 1px rgba(0,0,0,0.1));
  resize: none;
}
input:focus{
  box-shadow: 0px 0px 2px skyblue;
}
#input-submit{
  color: white;
  background-color: powderblue;
  cursor: pointer;
}
#input-submit:hover{
  box-shadow: 0 2px 1px 1px #888;
}
#input-submit:active{
  box-shadow:  0 0px 0px 0px #888;
transform: translateY(4px);
}
textarea{
  height: 126px;
}
.left-cf{
  width: 48%;
  float: left;
  margin: 5px;
}
.right-cf{
  float: right;
  width: 45%;
  margin-top: 5px;
}
